.Input-wrapper {
    flex-grow: 1;
    margin: r(0) r(10);
    position: relative;
    @include flex(row, center, center);

    .placeholder {
        position: absolute;
        left: r(10);
        top: 50%;
        transform: translate(0, -50%);
        transition: all .2s;
    }

    .input {
        @include flex(row, flex-start, center);
        flex: 1;

        input[type="search"] {
            padding: r(0) r(30);
            flex: 1;
            outline: none;
            background-color: #efefef;
            border: none;
            line-height: r(30);
            border-radius: r(20);

        }

        .icon-cancel {
            position: absolute;
            right: r(10);
            top: 50%;
            transform: translateY(-50%);
        }
    }
}