.songs-item {
    padding: r(5) 0;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.08);

    .hightlight {
        color: rgba($color: #001ba0, $alpha: .6);
    }

    .info__check {
        margin-right: r(15);
        font-size: r(25);
    }

    .info__handle {
        font-size: r(25);
    }

    &__info {
        @include flex(row, flex-start, center);

        .info {
            flex-grow: 1;

            .info__title {
                line-height: r(30);
            }

            .info__desc,
            .info__alias {
                @include smallTitle;
                line-height: r(24);
                color: $gray;
            }
        }

    }

}